{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<section>
      <header class="section-header">
        <h3>ITEM</h3>
      </header>
      <div class="grid grid--no-gutters">
        <div class="grid__item small--one-half medium-up--one-quarter"> <a href="{{ url('product_detail', {'id': '3'}) }}" class="border-col item-col">
          <div class="item-col__image"><img src="{{ asset('assets/img/fms.jpg','user_data') }}" width="51" height="51" alt=""/></div>
          <div class="item-col__text">
            <p class="item-col__name">Feliage Moisture Soap<br>
              フェリアージュ　モイスチャー　ソープ７０ｇ</p>
            <span class="item-col__price">通常価格￥5,060　会員価格￥3,520</span> </div>
          </a> </div>
        <div class="grid__item small--one-half medium-up--one-quarter"> <a href="{{ url('product_detail', {'id': '4'}) }}" class="border-col item-col">
          <div class="item-col__image"><img src="{{ asset('assets/img/flc.jpg','user_data') }}" width="51" height="51" alt=""/></div>
          <div class="item-col__text">
            <p class="item-col__name">Feliage Luxury Cream<br>
              フェリアージュ　ラグジュアリー　クリーム３０ｇ</p>
            <span class="item-col__price">通常価格￥18,700　会員価格￥13,200</span> </div>
          </a> </div>
        <div class="grid__item small--one-half medium-up--one-quarter"> <a href="{{ url('product_detail', {'id': '5'}) }}" class="border-col item-col">
          <div class="item-col__image"><img src="{{ asset('assets/img/fll.jpg','user_data') }}" width="51" height="51" alt=""/></div>
          <div class="item-col__text">
            <p class="item-col__name">Feliage Luxury Lotion<br>
              フェリアージュ　ラグジュアリー　ローション１００ｍL</p>
            <span class="item-col__price">通常価格￥14,740　会員価格￥10,340</span> </div>
          </a> </div>
        <div class="grid__item small--one-half medium-up--one-quarter"> <a href="{{ url('product_detail', {'id': '6'}) }}" class="border-col item-col">
          <div class="item-col__image"><img src="{{ asset('assets/img/flf.jpg','user_data') }}" width="51" height="51" alt=""/></div>
          <div class="item-col__text">
            <p class="item-col__name">Feliage Luxury Foundation UV<br>
              フェリアージュ　ラグジュアリー　ファンデーションUV１５ｇ</p>
            <span class="item-col__price">通常価格￥11,440　会員価格￥8,030</span> </div>
          </a> </div>
      </div>

      <div class="grid grid--no-gutters">
        <div class="grid__item small--one-half medium-up--one-quarter"> <a href="{{ url('product_detail', {'id': '7'}) }}" class="border-col item-col">
          <div class="item-col__image"><img src="{{ asset('assets/img/fmmp.jpg','user_data') }}" width="51" height="51" alt=""/></div>
          <div class="item-col__text">
            <p class="item-col__name">Feliage Massage Mineral Pack<br>
              フェリアージュ　マッサージ　ミネラル　パック１００ｇ</p>
            <span class="item-col__price">通常価格￥8,800　会員価格￥6,160</span> </div>
          </a> </div>
        <div class="grid__item small--one-half medium-up--one-quarter"> <a href="{{ url('product_detail', {'id': '10'}) }}" class="border-col item-col">
          <div class="item-col__image"><img src="{{ asset('assets/img/fsm.jpg','user_data') }}" width="51" height="51" alt=""/></div>
          <div class="item-col__text">
            <p class="item-col__name">Feliage PL Shine Moist<br>
              フェリアージュ　PL　シャイン　モイスト２０ｍL</p>
            <span class="item-col__price">通常価格￥20,350　会員価格￥14,300</span> </div>
          </a> </div>
        <div class="grid__item small--one-half medium-up--one-quarter"> <a href="{{ url('product_detail', {'id': '8'}) }}" class="border-col item-col">
          <div class="item-col__image"><img src="{{ asset('assets/img/fes.jpg','user_data') }}" width="51" height="51" alt=""/></div>
          <div class="item-col__text">
            <p class="item-col__name">Feliage Emotional Shampoo<br>
              フェリアージュ　エモーショナル　シャンプー３００ｍL</p>
            <span class="item-col__price">通常価格￥9,900　会員価格￥6,930</span> </div>
          </a> </div>
        <div class="grid__item small--one-half medium-up--one-quarter"> <a href="{{ url('product_detail', {'id': '9'}) }}" class="border-col item-col">
          <div class="item-col__image"><img src="{{ asset('assets/img/fet.jpg','user_data') }}" width="51" height="51" alt=""/></div>
          <div class="item-col__text">
            <p class="item-col__name">Feliage Emotional Treatment<br>
              フェリアージュ PL　エモーショナル　トリートメント２４０ｇ</p>
            <span class="item-col__price">通常価格￥12,320　会員価格￥8,580</span> </div>
          </a> </div>
      </div>
    </section>